.component-page {
  margin: 0;
  background-color: var(--bg-default);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 50px;
  row-gap: 30px;
  column-gap: 15px;

  &__notice {
    grid-column: span 3;
  }
}